* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */
aside{
  float: right;
  width: 32%;
  background-color: white;
}
.group{
  color: black;
  display: inline-grid;
  margin-bottom: 12px;
}
.tiles{
  width: 32%;
  clear: both;
  margin-top: 10px;
  display: inline-grid;
  }
.tile-1, .tile-2{
  margin-right: 15px;
}
.summer{
  width: 66%;
}
.contact{
  display: inline-block;
  width: 33%;
  border-right: 1px;
}
.archive{
  color: black;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
}
a{
  color: black;
}
.tile-3{
  float: right;
}